body {
    min-height: 100vh;
    max-width: 100%;
    margin: auto;
    margin: 0 auto;
    font-family: 'Kalam', cursive;
    font-weight: 400;
}

/*********************** HEADER/NAVBAR ****************************/
nav {
    width: 100%;
    height: 150px;
    font-size: 22px;
    position: fixed;
}
.navbar {
    background-color: white;
    margin-bottom: 10px;
    height: 120px;
    padding-left: 50px;
    padding-right: 50px;
}

.nav-button {
    background-color: white;
    border: 0px;
    display: flex;
    align-items: center !important;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: black;
}
.nav-button:hover {
    color: #EB008B;
}
.menu {
    display: flex;
    height: 100%;
}

@media (max-width: 1100px) {
    .navbar{
    padding-left: 1px;
    padding-right: 1px;
    }
    .logo {
        margin-left: 3rem;
    }
    .nav-button{
    display: none;
    }
}

/********************** FIRST SECTION *****************************/
.first-section {
    width: 100%;
    background-color: #EB008B;
    border-radius: 120px;
    margin: 2rem 0;
}

.my-name {
    font-weight: 700;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.me {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: #FFFFFF;
}

h1 {
    margin: 0;
    padding: 10px;
}

h3 {
    margin: 0;
    padding: 10px;
}

.first-art {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.about-box {
    padding: 1%;
    float: left;
    display: flex;
}

.about-text {
    font-style: normal;
    font-size: 20px!important;
    line-height: 36px;
    color: #FFFFFF;
    padding: 10px;
    max-width: 500px;
}
.about-me {
    display: flex;
    padding: 2%;
    margin-left: 1rem;
}

.profile-pic {
    height: 320px;
    width: 298px;
    border-radius: 25%;
}

/************************** SECOND SECTION ***********************/
.second-section {
    background-color: pink;
    padding-bottom: 2rem;
    border-radius: 120px;
    margin: 2rem 0;
}

.title-box {
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    color: #580d39;
    font-weight: 900!important;
    line-height: 58px;
    font-size: 40px;
}

.edu-bigbox {
    margin: 2%;
    display: flex;
    justify-content: space-between;
}

.edu-container {
    background-color: lightpink;
    margin: 0 2%;
    width: 45%;
    border-style: double;
    border-color: #580d39;
}

.edu-tab {
    font-size: 36px;
    font-weight: 900;
}

.edu-tab-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

.edu-box {
    padding: 0 2rem;
}

.edu-box-title {
    margin: 1%;
    font-size: 18px;
}

.edu-box-text {
    margin: 1%;
}

hr {
    color: black;
    border-color: black;
}

/******************* THIRD SECTION *******************/
.third-section {
    background-color: #5a2544;
    color: #FFFFFF;
    padding-bottom: 2rem;
    border-radius: 120px;
    margin: 2rem 0;
}

.third-section h1 {
    color: #FFFFFF;
}

.skills-container {
    margin: 2%;
    display: flex;
    justify-content: space-between;
}

.skills-tab {
    margin: 0 2%;
    width: 45%;
    border-style: double;
    border-color: lightpink;

}

.skills-tab-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    font-size: 36px;
    font-weight: 900;
}

.skills-box {
    padding: 0 2rem;
    margin: 1%;
    font-size: 18px;
}

/******************* FOURTH SECTION *****************/
.fourth-section {
    background-color: #ecb6b6;
    color: black;
    padding-bottom: 2rem;
    border-radius: 120px;
    margin: 2rem 0;
}

.xp-art {
    display: grid;
    grid-template-columns: 460px 460px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 0 4rem;
}
.xp-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    }

.xp-job {
    margin: 0;
    font-size: 26px;
}

.xp-date {
    margin: 1%;
}