body {
    min-height: 100vh;
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Kalam', cursive;
    font-weight: 400;
    background-color: #E0EFDA;
}

/*********************** HEADER/NAVBAR ****************************/
nav {
    width: 100%;
    height: 150px;
    font-size: 22px;
    position: fixed;
}
.navbar {
    background-color: #E0EFDA;
    margin-bottom: 10px;
    height: 120px;
    padding-left: 50px;
    padding-right: 50px;
}

.nav-button {
    background-color: #E0EFDA;
    border: 0px;
    display: flex;
    align-items: center !important;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: black;
}
.nav-button:hover {
    color: #E4959E;
}
.menu {
    display: flex;
    height: 100%;
    align-items: center;
}

@media (max-width: 1100px) {
    .navbar{
    padding-left: 1px;
    padding-right: 1px;
    }
    .logo {
        margin-left: 3rem;
    }
    .nav-button{
    display: none;
    }
}

/********************** FIRST SECTION *****************************/
.first-section {
    width: 100%;
    background-color: #B98B82;
    border-radius: 120px;
    margin: 2rem 0;
}

.my-name {
    font-weight: 700;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E0EFDA;
    text-shadow: 6px 6px 4px #000000;
}

.me {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: #E0EFDA;
    text-shadow: 2px 2px 0px #000000;
}

h1 {
    margin: 0;
    padding: 10px;
}

h3 {
    margin: 0;
    padding: 10px;
}

.first-art {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.about-box {
    padding: 1%;
    float: left;
    display: flex;
}

.about-text {
    font-style: normal;
    font-size: 20px!important;
    line-height: 36px;
    color: #E0EFDA;
    padding: 10px;
    max-width: 500px;
}
.about-text::first-letter {
    font-size: 28px;
    text-shadow: 2px 2px 0px #000000;
}
.about-me {
    display: flex;
    padding: 2%;
    margin-left: 1rem;
}

.profile-pic {
    height: 320px;
    width: 298px;
    border-radius: 25%;
}

/************************** SECOND SECTION ***********************/
.second-section {
    background-color: #F3B3A6;
    padding-bottom: 2rem;
    border-radius: 120px;
    margin: 2rem 0;
}

.title-box {
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    color: #2B3D41;
    font-weight: 900!important;
    line-height: 58px;
    font-size: 40px;
}

.second-section .title-box .title {
    text-shadow: 2px 2px 4px white;
}

.edu-bigbox {
    margin: 2%;
    display: flex;
    justify-content: space-between;
}

.edu-container {
    background-color: #F3B3A6;
    margin: 0 2%;
    width: 45%;
    border-style: double;
    border-color: #2B3D41;
    border-radius: 80px;
}

.edu-tab {
    font-size: 36px;
    font-weight: 900;
}

.edu-tab-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

.edu-box {
    padding: 0 2rem;
}

.edu-box-title {
    margin: 1%;
    font-size: 18px;
}

.edu-box-text {
    margin: 1%;
}

hr {
    color: black;
    border-color: black;
}

/******************* THIRD SECTION *******************/
.third-section {
    background-color: #2B3D41;
    color: #F3B3A6;
    padding-bottom: 2rem;
    border-radius: 120px;
    margin: 2rem 0;
}

.third-section h1 {
    color: #F3B3A6;
    text-shadow: 2px 2px 4px #000000
}

.skills-container {
    margin: 2%;
    display: flex;
    justify-content: space-between;
}

.skills-tab {
    margin: 0 2%;
    width: 45%;
    border-style: double;
    border-color: lightpink;
    border-radius: 80px;
}

.skills-tab-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    font-size: 36px;
    font-weight: 900;
}

.skills-box {
    padding: 0 2rem;
    margin: 1%;
    font-size: 18px;
}

/******************* FOURTH SECTION *****************/
.fourth-section {
    background-color: #E4959E;
    color: #2B3D41;
    padding-bottom: 5rem;
    border-radius: 120px;
    margin: 2rem 0;
}

.fourth-section .title-box .title {
    text-shadow: 2px 2px 4px white;
}

.xp-art {
    display: grid;
    grid-template-columns: 460px 460px;
    grid-column-gap: 15%;
    grid-row-gap: 5%;
    margin: 0 4rem;
}
.xp-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    border-radius: 80px;
    border: 2px double #580d39;
    width: auto;
    }

.xp-job {
    margin: 0;
    font-size: 26px;
}

.xp-date {
    margin: 1%;
}

.xp-list {
    color: #000000;
}

/*********************FIFTH SECTION**********************/
.fifth-section {
    background-color: #B98B82;
    color: #000000;
    padding-bottom: 2rem;
    border-radius: 120px;
    margin: 2rem 0;
}

.fifth-section .title-box .title {
    text-shadow: 2px 2px 4px white;
}

.contact-info {
    margin: 0 auto;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 5%;
    border-radius: 25px;
}

.info-title h5 {
    font-size: 28px;
    padding: 10px;
    margin: 0;
    margin: 0 auto;
}

.info-list {
    margin: 20px 0;
}

.info-list a {
    display: inline-block;
    text-decoration: none;
    background-color: #B98B82;
    color: #2B3D41;
    border: 1px solid #2B3D41;
    border-radius: 50%;
    width: 25px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    transition: .5s;
    padding: 0 2%;
}

.info-list a:hover {
    color: #B98B82;
    background-color: #2B3D41;
    box-shadow: 0 0 20px #2B3D41;
}

.form {
    display: block;
    margin: 0 auto;
    width: 50%;
}

label {
    font-size: 28px;
    text-shadow: 2px 2px 4px #E0EFDA;
    
}

input {
    background-color: #E0EFDA;
    border-radius: 20px;
    height: 50px;
    width: 15rem;
}

textarea {
    background-color: #E0EFDA;
    border-radius: 20px;
}

#submit:hover {
    box-shadow: 0 0 20px #2B3D41;
    background-color: #2B3D41;
    color: #E0EFDA;
    cursor: pointer;
    border: none;
}